# variables for docker-compose

# app
GROQ_API_KEY=
JWT_SECRET_KEY=

# postgresql
PSQL_HOST=
PSQL_EXT_PORT=
PSQL_PORT=$PSQL_EXT_PORT
PSQL_DB=
PSQL_USER=
PSQL_PASSWORD=

# minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_HOST=
MINIO_BUCKET=
MINIO_CHUNK_SIZE_KB=